<a href="/logout">Log Out</a>
<div class="list">
  {{#copied}}
    <h2 class="copied">Click this button -> <button id="clicky" data-clipboard-text="{{body}}">CLICK ME</button> to copy <span class="title">{{title}}</span> to clipboard!</h2>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script type="text/javascript">
      new Clipboard('#clicky');
    </script>
  {{/copied}}
  <h2>Supplemtals are ordered with the most current first</h2>
  {{#supplers}}
  <div class="item-container">
    {{title}}
    <form action="/supplementals/{{id}}" method="get">
      <button class="item-btn" type="submit">Copy Markdown</button>
    </form>
    <form action="/supplementals/{{id}}" method="get">
      <button class="item-btn" type="submit" disabled>Clone</button>
    </form>
  </div>
  {{/supplers}}
  {{^supplers}}
    <p>Please refresh your page to view supplementals.</p>
  {{/supplers}}

  <div class="pagination">
    <div class="">
      Current Page: {{currentPage}}. Total Pages: {{totalPages}}
    </div>

    <div class="">
      {{#prevLink}}
      <a href="/supplementals?page={{prevLink}}">Newer Page</a>
      {{/prevLink}}
    </div>

    <div class="">
      {{#nextLink}}
      <a href="/supplementals?page={{nextLink}}">Older Page</a>
      {{/nextLink}}

    </div>

  </div>



</div>
