<h2>Please login with your Newline email and password:</h2>
<form class="login-container" action="/" method="post">
  <span class="title">{{error}}</span>
  <div>
    Email: <input class="email-input" type="text" name="email">
  </div>
  <div>
    Password: <input class="password-input" type="password" name="password">
  </div>
  <input type="submit" value="Submit">
</form>
